html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #a9ccef;
  min-height: 100vh;
}

.main-content {
  padding: 20px;
  min-height: calc(100vh - 56px); /* Subtract navbar height */
}